{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Langages
{% endblock %}

{% block body %}
	<div id="index-language">
		<h1>//LANGAGES_</h1>
		<div id="index-cards">
			<card id="js-card">
				<img src="{{ asset('build/images/javascript-logo.eb9d2cb6.svg')}}" alt="logo of JavaScript">
				<h2>//JavaScript_</h2>
				<p>Apprends les bases du langage JavaScript</p>
			</card>
			<card id="php-card">
				<img src="{{ asset('build/images/php-logo.e7123345.svg')}}" alt="logo of PHP">
				<h2>//PHP_</h2>
				<p>Apprends les bases du langage PHP</p>
			</card>
			<card id="html-card">
				<img src="{{ asset('build/images/html-logo.8c11e1a8.svg')}}" alt="logo of HTML">
				<h2>//HTML_</h2>
				<p>Lance toi dans HTML pour commencer ton site web</p>
			</card>
			<card id="css-card">
				<img src="{{ asset('build/images/css-logo.b3c0acbf.svg')}}" alt="logo of CSS">
				<h2>//CSS_</h2>
				<p>Personnalise ta mise en page avec CSS</p>
			</card>
		</div>
	</div>
{% endblock %}
