{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Catégories
	{{slug}}
{% endblock %}

{% block body %}
	<div id="index-category">
		<h1>//CATÉGORIES_</h1>
		<div id="index-category-cards">
			{% for key, category in videos %}
				<div class="category-carousel">
					<h2>{{key}}</h2>
					<section class="splide" id="{{key}}-slider" aria-label="Splide Basic HTML Example">
						<div class="splide__track">
							<ul class="splide__list">
								{% for video in category %}
									<li class="splide__slide">
										<div class="{{slug}}-card category-card index-card">
											<div class="recto-index-card">
												<img src="{{video.thumbnail}}" alt="thumbnail of {{video.title}}">
												<h3>{{video.title}}</h3>
											</div>
											<div class="verso-index-card">
												<h3>{{video.title}}</h3>
												<p>{{video.description}}</p>
												<a class="btn-glitch-fill" href="{{ path("video_show", { 'slug': video.slug } )}}">
													<span class="text">//Vidéo</span>
													<span class="text-decoration">_</span>
													<span class="decoration">&rArr;</span>
												</a>
											</div>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</section>
					<a class="all-videos" href="{{ path("video_show_by_category", { 'categoryLabel': key, 'languageSlug': slug })}}">Toutes les vidéos</a>
					<a class="all-videos-mobile btn-glitch-fill" href="{{ path("video_show_by_category", { 'categoryLabel': key, 'languageSlug': slug })}}">
						<span class="text">//Vidéos</span>
						<span class="text-decoration">_</span>
						<span class="decoration">&rArr;</span>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
