{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Édition
	{{ playlist.label }}
{% endblock %}

{% block body %}
	<div id="playlist-edit">
		<h1>Édition
			{{ playlist.label }}</h1>

		{{ include('playlist/_form.html.twig') }}

		<a class="back-to-index" href="{{ path('playlist_show', {'id': playlist.id}) }}">Retour à la playlist</a>
	</div>
{% endblock %}
