{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Ajoute une vidéo !
{% endblock %}

{% block body %}

    <h1 id="upload-form-title">//Ajout d'une vidéo</h1>
	<div id="upload-video-form">

		{{ form_start(form) }}
		<fieldset class="form">

            <div id="preview">
                {{ form_row(form.thumbnailFile) }}
                {{ form_row(form.videoFile) }}
		    </div>

			<div id="writing_field">
				{{ form_widget(form.title) }}
				{{ form_widget(form.description) }}
			</div>
		</fieldset>

		<div id="select_upload">
			<div name="language_select" class="select language-select" id="language_select">
				{{ form_widget(form.language) }}
			</div>

			<div name="category_select" class="select category-select" id="category_select">
				{{ form_widget(form.category) }}
			</div>
		</div>

		<button class="btn-glitch-fill">
			<span class="text">//Valider</span>
			<span class="text-decoration">_</span>
			<span class="decoration">&rArr;</span>
		</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
