{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Vidéos
	{{ categoryLabel }}
	{{ languageSlug }}
{% endblock %}

{% block body %}
	<div id="index-videos">
		<h1>//VIDEOS</h1>
		<div id="index-videos-cards">
			{% for video in videos.data %}
				<div class="video-card {{video.category.language.slug}}-card">
					<img src="{{video.thumbnail}}" alt="thumbnail of {{video.title}}">
					<h2>//{{video.title}}_</h2>
					<p>{{video.description}}</p>
					<a class="btn-glitch-fill" href="{{ path("video_show", { 'slug': video.slug } )}}">
						<span class="text">//Video</span>
						<span class="text-decoration">_</span>
						<span class="decoration">&rArr;</span>
					</a>
				</div>
			{% endfor %}
		</div>
		{% set path = 'video_show_by_category' %}
		{% set languageSlug = languageSlug %}
		{% set pages = videos.pages %}
		{% set currentPage = videos.page %}
		{% set categoryLabel = categoryLabel %}
		{% include "/component/_pagination.html.twig" %}
	</div>
{% endblock %}
