{% extends 'base.html.twig' %}

{% block title %}Lecteur vidéo
{% endblock %}

{% block body %}
	<div id="components">
		<div id="video-player">
			<video id="video" controls>
				<source src="{{ video.video }}" type="video/mp4">
			</video>
		</div>
		<div id="video-options">
			<button type="button" id="playlist-button" class="btn" data-toggle="modal" data-target="#exampleModal"></button>
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Cette vidéo fait déjà partie des playlists suivantes :</h1>
						</div>
						<div class="modal-body">
							<ul>
								{% for playlist in playlistsIncVideo %}
									<li class="playlistsIncVideo">
										<a href="{{ path('playlist_show', {'id': playlist.id}) }}">{{ playlist.label }}</a>
										<a href="{{ path('video_remove_playlist', {'playlistId': playlist.id, 'videoId': video.id}) }}">Supprimer de cette playlist</a>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Dans quelle playlist souhaitez-vous ajouter cette vidéo ?</h1>
						</div>
						<div class="modal-body">
							<ul>
								{% for playlist in playlistsExcVideo %}
									<li>
										<a href="{{ path('video_add_playlist', {'playlistId': playlist.id, 'videoId': video.id}) }}">{{ playlist.label }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="modal-footer">
							<a href="{{ path('playlist_new', {'videoId': video.id}) }}" type="button" class="btn">Créer une nouvelle playlist</a>
						</div>
					</div>
				</div>
			</div>
			<div id="like-button">
				<a href="#"></a>
			</div>
			<div id="share-button">
				<a href="#"></a>
			</div>
		</div>
		<div id="description">
			<span id="title-description">{{ video.title }}</span>
			<p id="text-description">{{ video.description }}</p>
		</div>
		<div id="recommanded-videos-field">
			{% for recommandedVideo in recommandedVideos %}
				<ul>
					<li>
						<a class="recommanded-videos" href="{{ path('video_show', {'languageSlug': recommandedVideo.language.slug, 'videoSlug': recommandedVideo.slug}) }}">
							<imgsrc="{{recommandedVideo.thumbnail}}" id="thumbnail-recommanded-video" alt="video-thumbnail"></a>
						</li>
					</li>
				</ul>
			{% endfor %}
		</div>
	</div>
{% endblock %}
