{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}

<h1 id="quizTitle">//QUIZ_</h1>

<form class="quizComponent" id="{{ course.label }}" name="quizForm" action="{{ path('app_quiz') }}" method="POST">
    {% for question in course.questions %}
        <div id="{{ question.id }}" class="quizField">
            <div id="progressBar"></div>
            <ul>
                <li class="questionList" id="{{ question.questionNumber }}">
                    {{ question.label }}
                </li>
            </ul>
            <div class="answersContainer">
                {% for answer in question.answers %}
                    <ul>
                        <li id="{{ answer.id }}" class="answersField">
                            <input type="checkbox" name="answersField[]" value="{{ answer.isCorrect }}"/>
                            <label for="answersField">{{ answer.label }}</label>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class ="buttonContainer">
                <button class="btn-glitch-fill">
                    <span class="decoration">&lArr;</span>
                    <span class="text-decoration">_</span>
                    <span class="text">//Retour</span>
                </button>
            </div>
        </div>
    {% endfor %}
    <input type="hidden" name="pathInformation" value="">
</form>

{% endblock %}