<div id="navbar-mobile">
	<a class="link-mobile" href="{{ path('language_index') }}"><img class="logo-link-mobile" src="{{ asset('build/images/home.svg') }}"><span class="nav-mobile-button">Home</span>
	</a>
	<a class="link-mobile" href="#"><img class="logo-link-mobile" src="{{ asset('build/images/notes.svg') }}"><span class="nav-mobile-button">Notes</span>
	</a>
	<a class="link-mobile" href="#"><img class="logo-link-mobile" src="{{ asset('build/images/program.svg') }}"><span class="nav-mobile-button">Programme</span>
	</a>
	<a class="link-mobile" href="{{ path('playlist_index') }}"><img class="logo-link-mobile" src="{{ asset('build/images/playlist.svg') }}"><span class="nav-mobile-button">Playlists</span>
	</a>
	<a class="link-mobile" href="#"><img class="logo-link-mobile" src="{{ asset('build/images/profile.svg') }}"><span class="nav-mobile-button">Profile</span>
	</a>
</div>
