{% extends 'base.html.twig' %}

{% block body %}

<div class = 'contentContainer'>

    {{ form_start(form) }}

    <div class="formFields">

        <div class="formErrors">
            {{ form_errors(form) }}
        </div>

        {{ form_errors(form.profilepictureFile) }}
        <div id="preview_pictures_field"></div>
        <input type="file" 
            class="file-input-field"
            id="user_profilepictureFile_file" 
            name="user[profilepictureFile][file]"
            aria-label="photo de profil"
        >
        {{ form_errors(form.username) }}
        <input class="form-control"
            name="{{ field_name(form.username) }}"
            aria-label="Pseudo"
            value="{{ field_value(form.username) }}"
            placeholder="{{ field_label(form.username) }}"
        >
        {{ form_errors(form.email) }}
        <input class="form-control"
            name="{{ field_name(form.email) }}"
            aria-label="email"
            value="{{ field_value(form.email) }}"
            placeholder="{{ field_label(form.email) }}"
        >
        {{ form_row(form.password)}}
        {{ form_row(form._token) }}
    </div>
</div>

<button class="btn-glitch-fill">
    <span class="text">//Valider</span>
    <span class="text-decoration">_</span>
    <span class="decoration">&rArr;</span>
</button>

{% block javascripts %}{% endblock %}

{{ form_end(form, {render_rest: false}) }}

{% endblock %}
