{% extends 'base.html.twig' %}

{% block nav %}{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h1 id="user-form-title">Profil</h1>

    <p class="premium-user-form">Ici vous pouvez modifier vos informations personnelles et vous déconnecter</p>

    <div class = 'securityContainer'>

        {{ form_start(form) }}

        <div class="formFields">

            <div class="formErrors">
                {{ form_errors(form) }}
            </div>
                {{ form_row(form.profilepictureFile) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email)}}
                {{ form_row(form._token) }}
                {% if (app.user.roles[0] is same as("ROLE_ADMIN") or app.user.roles[0] is same as("ROLE_PREMIUM")) %}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.phoneNumber) }}
                    {{ form_row(form.birthdate) }}
                    {{ form_row(form.houseNumber) }}
                    {{ form_row(form.streetName) }}
                    {{ form_row(form.city) }}
                    {{ form_row(form.country) }}
                {% endif %}

            <button class="btn-glitch-fill">
                <span class="text">//Valider</span>
                <span class="text-decoration">_</span>
                <span class="decoration">&rArr;</span>
            </button>
        </div>
    </div>

    {{ form_end(form, {render_rest: false}) }}

    <div id="securityBtnContainer">
        <a href='{{ path('app_logout') }}' class="btn-glitch-fill" id="btn-logout">
            <span class="text">Déconnexion</span>
        </a>
        <button class="btn-glitch-fill" id="btn-delete-account" data-toggle="modal" data-target="#confirmDeleteModal">
            <span class="text">Supprimer mon compte</span>
        </button>
    </div>


{{ include('user/modalConfirmDelete.html.twig') }}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
            document.getElementById('btn-delete-account').addEventListener('click', function() {
                myModal.show();
            });
        });
    </script>

{% endblock %}

{% endblock %}
